.sheet-meta
  .sheet-container
    +meta_field('name', 'Name')
    +meta_field('origin', 'Origin')
    +meta_field('size', 'Size')
    +meta_field('rank', 'Rank')
    +meta_field('adv', 'Advancements')

  .sheet-container
    +meta_field('gender', 'Gender')
    +meta_field('age', 'Age')
    +meta_field('hair', 'Hair')
    +meta_field('eyes', 'Eyes')
    +meta_field('height', 'Height')
    +meta_field('weight', 'Weight')
  
  .sheet-container
    +meta_field('bennies', 'Bennies')
    +meta_field('doubloons', 'Doubloons')
    +meta_field('pieces8', 'Pieces of 8 (0 to 8)')
    +meta_field('royals', 'Royals (0 to 4)')
